*{
    background-color: black;
    color: whitesmoke;
    
}
img{
    background-color: coral;
    height:fit-content;
    width: fit-content;
    border-radius: 50%;
    border-style:dotted;
    border-width: 10px;
    border-color:blue;
}
